/* 전체 틀 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

p{
    font-family: 'Noto Sans KR', sans-serif;
}

html, body{
    width: auto;
    height: auto;
}

.wrapper{
    display:grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 100px auto;
    height: 100vh;
}

.profile{
    background-color: #ff5f2e;
    display: flex;
    align-items: center;
}

.title{
    background-color: #fcbe32;
    display: flex;
    align-items: center;
}

.sidebar{
    background-color: #ff5f2e;
}
.container{
    background-color: #e1eef6;
}

/* 프로필 */
.box{
    width: 70px;
    height: 70px;
    border-radius: 70%;
    overflow: hidden;
    float: left;
    margin: 10px;
}

.profile-img{
    width : 100%;
    height: 100%;
    object-fit: cover;
}

.profile p{
    font-size: 33px;
}

/* 제목 */
.title p{
    font-size: 25px;
    padding: 20px;
}

/* 사이드바*/
ul{
    list-style: none;
    font-size: 25px;
    text-align: right;
    padding: 0;
    margin: 0;
}

li{
    padding: 20px;
    padding-right: 30px;
    font-family: 'Noto Sans KR', sans-serif;
}

li:hover{
    background-color: #ff5f2e;
    filter: brightness(70%);
}

a{
    display: block;
}

a:link{
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
}

/* 가게 */
.shop{
    width: 1000px;
    height: 500px;
    border: 1px solid black;
    margin: 60px;
    position: relative;
}

.table {
    cursor: pointer;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    position:absolute;
}

canvas{
    width: 100%;
    height: 100%;
    background-color: coral;
}

.photoFrame{
    width: 1000px;
    height: 500px;
  }